In [7]:
file_path = "results/experiment_results_20260107_185301.csv"
import pandas as pd
data = pd.read_csv(file_path)

In [8]:
# display me if when ALG_algorithm is 'probSAT'
data[data['ALG_algorithm'] == 'probSAT']

,ALG_algorithm,ALG_max_flips,ALG_max_tries,ALG_seed,INST_n_variables,INST_instance_id,OUT_flips_count,OUT_clause_satisfied,OUT_clause_total,OUT_satisfiable
1,probSAT,2000,30,655441,20,1,42,84,84,True
3,probSAT,2000,30,390835,20,1,16,84,84,True
5,probSAT,2000,30,558896,20,1,18,84,84,True
7,probSAT,2000,30,808987,20,1,125,84,84,True
9,probSAT,2000,30,673869,20,1,57,84,84,True
...,...,...,...,...,...,...,...,...,...,...
151,probSAT,7500,30,326613,75,2,3356,315,315,True
153,probSAT,7500,30,280405,75,2,1764,315,315,True
155,probSAT,7500,30,597987,75,2,131,315,315,True
157,probSAT,7500,30,167745,75,2,54,315,315,True
159,probSAT,7500,30,488613,75,2,1101,315,315,True

In [10]:
# display if OUT_flips_count is greater then ALG_max_flips
data[data['OUT_flips_count'] == (data['ALG_max_flips'] * data['ALG_max_tries'])]

,ALG_algorithm,ALG_max_flips,ALG_max_tries,ALG_seed,INST_n_variables,INST_instance_id,OUT_flips_count,OUT_clause_satisfied,OUT_clause_total,OUT_satisfiable
100,GSAT,6000,30,946463,60,2,180000,247,252,False
101,probSAT,6000,30,946463,60,2,180000,251,252,False
102,GSAT,6000,30,247102,60,2,180000,251,252,False
103,probSAT,6000,30,247102,60,2,180000,251,252,False
104,GSAT,6000,30,192944,60,2,180000,251,252,False
105,probSAT,6000,30,192944,60,2,180000,251,252,False
106,GSAT,6000,30,383677,60,2,180000,248,252,False
107,probSAT,6000,30,383677,60,2,180000,251,252,False
108,GSAT,6000,30,359755,60,2,180000,251,252,False
109,probSAT,6000,30,359755,60,2,180000,251,252,False
110,GSAT,6000,30,163470,60,2,180000,250,252,False
111,probSAT,6000,30,163470,60,2,180000,251,252,False
112,GSAT,6000,30,114320,60,2,180000,251,252,False
113,probSAT,6000,30,114320,60,2,180000,251,252,False
114,GSAT,6000,30,134836,60,2,180000,250,252,False
115,probSAT,6000,30,134836,60,2,180000,251,252,False
116,GSAT,6000,30,392526,60,2,180000,250,252,False
117,probSAT,6000,30,392526,60,2,180000,251,252,False
118,GSAT,6000,30,359605,60,2,180000,250,252,False
119,probSAT,6000,30,359605,60,2,180000,251,252,False
120,GSAT,7500,30,77712,75,1,225000,314,315,False
121,probSAT,7500,30,77712,75,1,225000,314,315,False
122,GSAT,7500,30,776166,75,1,225000,313,315,False
123,probSAT,7500,30,776166,75,1,225000,314,315,False
124,GSAT,7500,30,800226,75,1,225000,313,315,False
125,probSAT,7500,30,800226,75,1,225000,314,315,False
126,GSAT,7500,30,598229,75,1,225000,314,315,False
127,probSAT,7500,30,598229,75,1,225000,314,315,False
128,GSAT,7500,30,95186,75,1,225000,308,315,False
129,probSAT,7500,30,95186,75,1,225000,314,315,False
130,GSAT,7500,30,108589,75,1,225000,314,315,False
131,probSAT,7500,30,108589,75,1,225000,314,315,False
132,GSAT,7500,30,968822,75,1,225000,313,315,False
133,probSAT,7500,30,968822,75,1,225000,314,315,False
134,GSAT,7500,30,146568,75,1,225000,313,315,False
135,probSAT,7500,30,146568,75,1,225000,314,315,False
136,GSAT,7500,30,199300,75,1,225000,311,315,False
137,probSAT,7500,30,199300,75,1,225000,314,315,False
138,GSAT,7500,30,166082,75,1,225000,313,315,False
139,probSAT,7500,30,166082,75,1,225000,314,315,False

In [6]:
data[data['OUT_flips_count'] == data['ALG_max_flips']]

,ALG_algorithm,ALG_max_flips,ALG_max_tries,ALG_seed,INST_n_variables,INST_instance_id,OUT_flips_count,OUT_clause_satisfied,OUT_clause_total,OUT_satisfiable
101,probSAT,6000,NaN,211876,60,2,6000,251,252,False
103,probSAT,6000,NaN,218278,60,2,6000,251,252,False
105,probSAT,6000,NaN,253275,60,2,6000,251,252,False
107,probSAT,6000,NaN,96764,60,2,6000,251,252,False
109,probSAT,6000,NaN,947234,60,2,6000,251,252,False
111,probSAT,6000,NaN,656935,60,2,6000,251,252,False
113,probSAT,6000,NaN,726377,60,2,6000,251,252,False
115,probSAT,6000,NaN,717171,60,2,6000,251,252,False
117,probSAT,6000,NaN,165054,60,2,6000,251,252,False
119,probSAT,6000,NaN,193459,60,2,6000,251,252,False
121,probSAT,7500,NaN,404540,75,1,7500,314,315,False
123,probSAT,7500,NaN,213472,75,1,7500,314,315,False
125,probSAT,7500,NaN,979278,75,1,7500,314,315,False
127,probSAT,7500,NaN,331415,75,1,7500,314,315,False
129,probSAT,7500,NaN,634457,75,1,7500,314,315,False
131,probSAT,7500,NaN,648715,75,1,7500,314,315,False
133,probSAT,7500,NaN,736674,75,1,7500,314,315,False
135,probSAT,7500,NaN,866265,75,1,7500,314,315,False
137,probSAT,7500,NaN,495780,75,1,7500,314,315,False
139,probSAT,7500,NaN,698533,75,1,7500,314,315,False